docker.enabled = true


process {
    memory = { 30.GB * task.attempt }
    cpus = { 16 * task.attempt }
    time = { 1.hour * task.attempt }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3

}

params {
    output_dir='s3://indapa-cellxgene-results/'
    census_version='2023-12-15'
}