docker.enabled = true
wave.enabled = true


process {
    memory = { 32.GB * task.attempt }
    cpus = { 8 * task.attempt }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 3

}

params {
    
    output_dir='s3://indapa-cellxgene-results/'
    census_version='2023-12-15'
    samplesheet='s3://cellxgene-samplesheets/samplesheet-test.csv'
   
}

